#rfc-body {
    background-color: #f4f4f4;
    color: #222;
    -webkit-border-radius: 0.5ex;
    -moz-border-radius: 0.5ex;
    border-radius: 0.5ex;
    box-shadow: inset #ddd 0 1ex 1em, #666 0 1ex 1em;
    font-size: 100%;
    margin: 0 auto 1.5em auto;
    padding: 1ex;
    width: 84ex;
}
.enterprise {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.enterprise img {
    height: 2.5rem;
    max-width: 20rem;
}
.enterprise .company {
    text-align: right;
    /* Coerce to minimum width: */
    padding-left: 1rem;
    min-width: 1px;
    width: 0;
}
.enterprise .offering {
    padding-left: 1rem;
}
.enterprise table {
    border: 1px solid rgba(0, 204, 255, 0.3);
    width: 100%;
}
.enterprise td {
    padding: 0.5rem;
}
.enterprise tr:nth-child(odd) {
    background-color: rgba(0, 204, 255, 0.05);
}
