<div class="enterprise">
    <table>
        <tr>
            <td class="company"><img src="/okta.svg" alt="Okta" /></td>
            <td class="offering">
                Supports <a href="https://devops.com/okta-offers-paseto-as-alternative-to-json-tokens/">PASETO integration</a>
                in their authentication products; created <a href="https://developer.okta.com/blog/2020/07/23/introducing-jpaseto">JPaseto</a>
                for the community.
            </td>
        </tr>
    </table>
</div>