<a class="navbar-brand" href="#">PASETO</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>


<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item{% if not active %} active{% endif %}">
            <a class="nav-link" href="/">Home{% if not active %} <span class="sr-only">(current)</span>{% endif %}</a>
        </li>
        {#
        Todo: implement
        <li class="nav-item{% if active == "demo" %} active{% endif %}">
            <a class="nav-link" href="/demo">Demo {% if active == "demo" %} <span class="sr-only">(current)</span>{% endif %}</a>
        </li>
        #}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="rfcDrafts" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                RFC
            </a>
            <div class="dropdown-menu" aria-labelledby="rfcDrafts">
                <a class="dropdown-item" href="/rfc/">Latest RFC draft</a>
                <div class="dropdown-divider"></div>
                {% for draft in rfcdrafts %}
                    <a class="dropdown-item" href="/rfc/{{ draft.slug }}">{{ draft.slug }}</a>
                {% endfor %}
            </div>
        </li>
    </ul>
</div>