<ul>
    <li id="defcon26-cpv">
        <strong>No Way JOSE! Designing Cryptography Features for Mere Mortals</strong>
        <ul>
            <li>
                DEFCON 26 - Crypto &amp; Privacy Village &mdash;
                <time datetime="2018-08-11T19:00:00+00:00">August 11, 2018 at 12:00 PM PDT</time>
            </li>
            <li>
                <a href="https://paragonie.com/files/talks/NoWayJoseCPV2018.odp">Slides (LibreOffice)</a>
            </li>
            <li>
                <a href="https://paragonie.com/files/talks/NoWayJoseCPV2018.pdf">Slides (PDF)</a>
            </li>
            <li>
                <a href="https://youtu.be/RijGNytjbOI">Video (YouTube)</a>
            </li>
        </ul>
        <blockquote class="talk-abstract">
            The past three years of vulnerability research and cryptanalysis
            has not been kind to the JOSE family of Internet standards (most
            commonly known as JSON Web Tokens a.k.a. JWT). This has led to many
            security experts declaring boldly, "Don't use JWT!" but has left
            many developers in want of a viable alternative. Scott went a step
            further and designed a safer alternative: PASETO (Platform-Agnostic
            SEcurity TOkens), which is currently implemented in 10 programming
            languages.
        </blockquote>
    </li>
</ul>